<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/axios.js"></script>
    <link rel="stylesheet" href="../../static/css/title.css">
    <link rel="stylesheet" href="../../static/css/course.css">


<!--     引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vxe-table/lib/style.css">
    <!-- 引入脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
</head>
<body>
<div id="now" class="titleBox clear">
    <div class="titleL ">
        <img src="../../static/img/logo-mini.png"/>
        <h4>中原工学院在线考试系统</h4>
    </div>
    <div class="titleR" v-if="loginState">
        <img src="../../static/img/head.png"/>
        <div class="name">{{loginName}}</div>
    </div>
    <div class="titleR" v-else>
        <a style="margin-right: 0px; color: white" href="/login">登录</a>
    </div>
</div>
<div id="exam" class="studentBox">
    <div class="courseBox">

        <h3 style="margin: 30px;">{{course.courseName}}</h3>
        <div class="table " style=" width:920px;margin: auto;">
            <vxe-table
                    border
                    show-header-overflow
                    show-overflow
                    highlight-hover-row
                    size="medium"
                    :align="allAlign"
                    :data="exam">
                <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>
                <vxe-table-column field="examName"  width="150" title="考试名称"></vxe-table-column>
                <vxe-table-column  width="150" title="开始时间">
                    <template slot-scope="scope">
                        <span>{{dateFormat('YYYY-mm-dd HH:MM',scope.row.examStartTime)}}</span>
                    </template>
                </vxe-table-column>
                <vxe-table-column  width="150" title="结束时间">
                <template slot-scope="scope">
                    <span>{{dateFormat('YYYY-mm-dd HH:MM',scope.row.examEndTime)}}</span>
                </template>
                </vxe-table-column>
                <vxe-table-column field="examTime"  width="80" title="考试时长">
                <template slot-scope="scope">
                    <span >{{scope.row.examTime}}分钟</span>
                </template>
                </vxe-table-column>
                <vxe-table-column field="examStatus" width="80" title="考试总分"></vxe-table-column>
                <vxe-table-column  width="100" title="考试状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.examStatus==0">未开始</span>
                    <span v-else-if="scope.row.examStatus==1">已开始</span>
                    <span v-else>已结束</span>
                </template>
                </vxe-table-column>
                <vxe-table-column title="操作" width="150" show-overflow align="center">
                    <template slot-scope="scope">
                        <button v-if="scope.row.examStatus==0" type="primary" size="small" @click="toTestPaper(scope.row.examId,scope.row.examTestPaper)">参加考试</button>
                        <button v-else type="danger" plain size="small" @click="toAnswer(scope.row)">查看考试</button>
                    </template>
                </vxe-table-column>

            </vxe-table>
        </div>

    </div>
</div>
</body>
<script>



    let now = new Vue({
        el: "#now",
        data() {return {loginName:'',loginState:false}},
        mounted(){axios.post("/getNow").then( (response)=> {if (response.data!="-1"){this.loginName = response.data;this.loginState=true}else{this.loginState=false} });
        }
    })
    let examVue = new Vue({
        el:"#exam",
        data() {
            return {
                course:'',
                exam:[]
            };
        },mounted() {
            axios.post("/student/getCourse").then( (response)=> {this.course = response.data});
            axios.post("/student/getExam").then( (response)=> {this.exam = response.data});
        },methods:{
            dateFormat(fmt, date) {
                let ret = "";
                date = new Date(date);
                const opt = {
                    'Y+': date.getFullYear().toString(), // 年
                    'm+': (date.getMonth() + 1).toString(), // 月
                    'd+': date.getDate().toString(), // 日
                    'H+': date.getHours().toString(), // 时
                    'M+': date.getMinutes().toString(), // 分
                    'S+': date.getSeconds().toString() // 秒
                    // 有其他格式化字符需求可以继续添加，必须转化成字符串
                }
                for (let k in opt) {
                    ret = new RegExp('(' + k + ')').exec(fmt)
                    if (ret) {
                        fmt = fmt.replace(
                            ret[1],
                            ret[1].length == 1 ? opt[k] : opt[k].padStart(ret[1].length, '0')
                        )
                    }
                }
                return fmt;
            },toTestPaper(examID,testPaperID){

                let url = '/student/testPaper/'+examID+"/"+testPaperID;
                window.location.href=url;

            },toAnswer(row){

            }
        }

    })
</script>
</html>