<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/axios.js"></script>
    <script src="../static/js/vue.js"></script>
    <title>Exam</title>
    <link rel="stylesheet" href="../static/css/title.css">

</head>
<body>
    <div class="titleBox clear">
        <div class="titleL ">
            <img>
        </div>
        <div class="titleR" v-if="">
            <img src="" alt="">
            <div class="name"></div>
        </div>
        <div class="titleR" v-else>
            <a>登录</a>
            <span>/</span>
            <a>注册</a>
        </div>
    </div>

    <div class="loginBox">
        <div class="login"></div>
        <div class="register"></div>
    </div>
</body>
</html>