<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/axios.js"></script>
    <link rel="stylesheet" href="../../static/css/title.css">
    <link rel="stylesheet" href="../../static/css/course.css">
    <!--     引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vxe-table/lib/style.css">
    <!-- 引入脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/xe-utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/vxe-table"></script>
</head>
<body>
<div id="now" class="titleBox clear">
    <div class="titleL ">
        <img src="../../static/img/logo-mini.png"/>
        <h4>中原工学院在线考试系统</h4>
    </div>
    <div class="titleR" v-if="loginState">
        <img src="../../static/img/head.png"/>
        <div class="name">{{loginName}}</div>
    </div>
    <div class="titleR" v-else>
        <a style="margin-right: 0px; color: white" href="/login">登录</a>
    </div>
</div>
<div id="testPaper" class="studentBox">
    <div class="questions courseBox">

        <div class="number" v-for="(num,index) in number">
            <div class="q" v-if="num>0">
                <h4 v-if="index==1">单选题</h4>
                <h4 v-if="index==2">多选题</h4>
                <h4 v-if="index==3">判断题</h4>
                <h4 v-if="index==4">填空题</h4>
                <h4 v-if="index==5">简答题</h4>
                <div v-if="index==1">
                    <div style="width: 80%;margin: auto;" v-for="(q,index) in questions.a">
                        <h4>{{q.questionsStems}}</h4>
                        <div style="margin-top: 10px;" v-for="option in q.options">
                            <input style="margin-top: 10px;background-color:gray;margin-left: 10px;margin-bottom: 10px" type="radio" :name="q.questionsID">{{option}}</input>
                        </div>
                    </div>

                </div>
                <div v-if="index==2">多选题</div>
                <div v-if="index==3">判断题</div>
                <div v-if="index==4">填空题</div>
                <div v-if="index==5">简答题</div>
            </div>
        </div>
    </div>
    <div class="questionsList">

    </div>
</div>
</body>
<script>



    let now = new Vue({
        el: "#now",
        data() {return {loginName:'',loginState:false}},
        mounted(){axios.post("/getNow").then( (response)=> {if (response.data!="-1"){this.loginName = response.data;this.loginState=true}else{this.loginState=false} });
        }
    })
    let examVue = new Vue({
        el:"#testPaper",
        data() {
            return {

                number:[],
                questions:'',
                scores:[]

            };
        },mounted() {
            axios.post("/student/getTestPaper").then( (response)=> {this.number = response.data.number;this.questions = response.data.questions;this.scores = response.data.scores});
        },methods:{

        }

    })
</script>
</html>